body{
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #EFF3F6;
}
header{
    padding: 20px;
    background-color: rgb(248, 177, 105);
}
header > h1{
    padding: 10px;
    margin: 0;
    text-align: center;
    color: azure;
}
header > img{
    padding-left: 20px;
}
nav{
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    position:sticky;
    top: 0;
    background-color: #AAB1BF;
}
nav > ul{
    padding: 0;
    list-style: none;
}
nav li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 7%;
    padding-top: 2%;

}
li > a{
    text-decoration: none;
    color: black;
}
li > a:hover{
    text-decoration: underline;
}
main {
    background-color: #eee;
    padding: 1% 2%;
    border-top: none;
    margin: 0 auto;
    padding-bottom: 8cm;

}
footer {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    
    background-color: #AAB1BF;

}